package-manager=pnpm@10

# Toujours authentifier GitHub
always-auth=true

# Token GitHub injecté via variable d'environnement
//github.com/:_authToken=${TOKEN_FOR_GITHUB}

# Optionnel : éviter les warnings sur les packages privés
strict-ssl=true

# Si tu utilises pnpm workspaces (monorepo), ça peut aider
shamefully-hoist=true
